.box {
  padding: var(--spc) var(--spc-double);
  background: var(--bg-color);
  color: var(--fg-color);
  border-radius: var(--spc);
  box-shadow: -.25rem .25rem 0 var(--drop-shadow-color);
}

.box.topLevel {
  border-radius: 0;
}

.boxSection {
  margin-left: calc(var(--spc-double) * -1);
  margin-right: calc(var(--spc-double) * -1);
  padding: var(--spc) var(--spc-double);
}

.boxTitle {
  composes: boxSection;
  margin-top: 0;
  margin-bottom: 0;
}

.boxTitle:first-child,
.boxSection:first-child {
  margin-top: calc(var(--spc) * -1);
}

.boxTitle:last-child,
.boxSection:last-child {
  margin-bottom: calc(var(--spc) * -1);
}

.boxTitle + .boxSection,
.boxSection + .boxSection {
  border-top: solid .125rem var(--border-color);
}

@media screen and (min-width: 600px) {
  .box {
    margin: var(--spc);
    border-radius: var(--spc-half);
  }

  .box.top-level {
    border-radius: var(--spc);
    box-shadow: -.25rem .25rem 0 var(--drop-shadow-color);
  }
}
