@font-face {
  font-family: "ChiKareGo2";
  src: url(/fonts/ChiKareGo2.ttf);
}

:root {
  --normal-box-shadow-radius: .25em;
  --normal-box-shadow-opacity: .25;
  --normal-box-shadow: 0 .125em var(--normal-box-shadow-radius) rgba(0, 0, 0, var(--normal-box-shadow-opacity));

  --normal-font-family: "ChiKareGo2", sans-serif;

  --c0: #543344;
  --ca1: #8b4049;
  --ca2: #ae6a47;
  --ca3: #caa05a;
  --cb1: #515262;
  --cb2: #63787d;
  --cb3: #8ea091;
  --c4: #c9cca1;

  --c00: #000;
  --c0: hsl(186, 100%, 15%);
  --c1: #ff7777;
  --c2: #ffce96;
  --c3: #f1f2da;
  --c4: #fff;

  --spc-half: 0.25rem;
  --spc: 0.5rem;
  --spc-double: 1rem;
}

body {
  --fg-color: var(--c2);
  --bg-color: var(--c0);
  --fg-color-strong: var(--c2);
  --bg-color-strong: var(--c0);
  --border-color: var(--c1);
  --border-color-strong: var(--c2);
  --shadow-color: var(--c00);

  font-size: 62.5%;
  background-color: var(--bg-color);
  color: var(--fg-color);
  margin: 0;
  padding: 0;
}

a, a:link {
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}

body,
input,
button {
  font-family: var(--normal-font-family);
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
small {
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
strong {
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
  margin: .5rem 0;
}

strong {
  color: var(--fg-color-strong);
  text-shadow: .0625rem .0625rem 0 var(--shadow-color);
}

button,
.button {
  display: inline-block;
  padding: var(--spc-half) var(--spc-double);
  margin: var(--spc-half);
  background-color: var(--bg-color-strong);
  color: var(--fg-color-strong);
  line-height: 1;
  border-radius: var(--spc-double);
  border: solid .125rem var(--border-color);
}

button:hover,
.button:hover {
  
}

button:active,
.button:active {
  color: var(--bg-color-strong);
  background-color: var(--fg-color-strong);
  border-color: var(--border-color-strong);
}

button::after,
.button::after,
button::before,
.button::before {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: solid .125rem var(--border-color);
  border-radius: var(--spc-double);
}

button.large,
.button.large {
  position: relative;
  margin: var(--spc);
  padding: calc(var(--spc-half) * 2) calc(var(--spc-double) + var(--spc-half));
  border-width: .25rem;
  border-radius: calc(var(--spc-double) + var(--spc-half));
}

button.large::after,
.button.large::after {
  content: ' ';
  top: .125rem;
  left: .125rem;
  right: .125rem;
  bottom: .125rem;
  border-radius: var(--spc-double);
}

input[type=text],
input[type=number] {
  border-radius: .125rem;
  border: solid .125rem var(--border-color);
  background-color: var(--bg-color-strong);
  margin: .125rem .25rem;
}

fieldset {
  margin: 0;
  padding: var(--spc-half) var(--spc);
  border: solid .125rem var(--border-color);
  border-radius: var(--spc-half);
}

* + fieldset {
  margin-top: 1rem;
}

ul.no-bullets,
ul.no-bullets > li {
  list-style: none;
}

ul.no-bullets {
  padding: 0;
  margin: 0;
}

* + ul {
  margin-top: 1rem;
}

nav.site-nav {
  --fg-color: var(--c1);
  --fg-color-strong: var(--c0);
  --bg-color: var(--c3);
  --bg-color-strong: var(--c4);
  --border-color: var(--c2);
  --border-color-strong: var(--c1);
  color: var(--fg-color);
  background-color: var(--bg-color);
  box-shadow: 0 .25rem 0 var(--c00);

  position: relative;
  display: flex;
  flex-direction: row;
  padding: 0 var(--spc-double);
}

nav.site-nav::before,
nav.site-nav::after {
  position: absolute;
  content: ' ';
  display: block;
  width: .5rem;
  height: .5rem;
  top: -.5rem;
  border-top: solid .5rem black;
}

nav.site-nav::before {
  left: -.5rem;
  border-left: solid .5rem black;
  border-top-left-radius: 1rem;
}

nav.site-nav::after {
  right: -.5rem;
  border-right: solid .5rem black;
  border-top-right-radius: 1rem;
}

nav.site-nav h1 {
  color: var(--fg-color-strong);
  /*text-shadow: -.0625rem -.0625rem 0 var(--border-color),
               .0625rem .0625rem 0 var(--bg-color-strong);*/
}

nav.site-nav h1 > small {
  color: var(--fg-color);
  /*text-shadow: -.0625rem -.0625rem 0 var(--border-color),
               .0625rem .0625rem 0 var(--bg-color-strong);*/
}

main {
  padding: var(--spc-half) var(--spc);
}

.card {
  display: flex;
  flex-direction: column;
  border: solid .125rem var(--shadow-color);
  box-shadow: .125rem .125rem 0 var(--shadow-color);
}

.inline {
  display: inline-flex;
}

.columns {
  display: flex;
  flex-direction: row;
}

.columns.centered {
  align-items: center;
}

.columns > * {
  flex: 0 0 auto;
  min-width: 10rem;
}

.columns > * + * {
  margin-left: var(--spc-double);
}

.rows {
  display: flex;
  flex-direction: column;
}

.rows.centered {
  align-items: center;
}

.rows > * {
  flex: 0 0 auto;
}

.rows > * + * {
  margin-top: var(--spc);
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

/*input[type=radio] {
  width: 0;
  height: 0;
  border: none;
}*/
