i,
.icon {
  position: relative;
  display: inline-block;
  content: ' ';
  width: 1em;
  height: 1em;
  line-height: 1;
  vertical-align: middle;
}

i.caret-down,
.icon.caret-down {
  width: 0;
  height: 0;
  border: solid 0.25em transparent;
  border-top-color: var(--fg-color);
  border-bottom-width: 0;
}

i.hamburger:before,
i.hamburger:after,
.icon.hamburger:before,
.icon.hamburger::after {
  display: block;
  content: ' ';
  border-top: solid .125em var(--fg-color);
}

i.hamburger:before,
.icon.hamburger:before {
  height: .25em;
  border-bottom: solid .125em var(--fg-color);
  margin-bottom: .25em;
}
