.outputContainer {
  min-width: calc(50vmax - 4rem);
  min-height: calc(50vmax - 4rem);
}

@media screen and (min-width: 600px) and (orientation: landscape) {

  .sdfConverterGrid {
    display: grid;
    grid-template-areas: "input output"
      "parameters output";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content 1fr;
  }

  .sdfConverterGrid :global(#input-section),
  .sdfConverterGrid :global(#parameters-section),
  .sdfConverterGrid :global(#output-section) {
    /*display: grid;*/
  }

  .sdfConverterGrid :global(#input-section) {
    grid-area: input;
  }

  .sdfConverterGrid :global(#parameters-section) {
    grid-area: parameters;
  }

  .sdfConverterGrid :global(#output-section) {
    grid-area: output;
  }

}